.container-lg {
  max-width: 1200px;
}
.container-md {
  max-width: 1200px;
}
.container {

}
@media (min-width: 576px) {
  .container {
    min-width: 960px;
    padding-left: 2%;
    padding-right: 2%;
  }
}

a, a:hover {
  color: inherit;
  text-decoration: none;
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle,
.btn-primary.focus, .btn-primary:focus,
.btn-primary:hover,
.btn-primary {
  background: rgb(160, 0, 0);
  border-color: rgb(160, 0, 0);
}
.btn-sm {
  font-size: .7rem;
  padding: .25rem .5rem;
}
@media (min-width: 576px) {
  .btn-sm {
    font-size: .8rem;
  }
}

.navbar-light .navbar-nav .nav-link,
.text-secondary {
  color: #4d4d4d !important;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  background-color: #ddd;
}
.nav-pills .nav-link {
  border-radius: 0;
  border-top: 0.5px solid #606060;
  font-size: small;
  padding: .25rem 0 .25rem .5rem;
}

.tab-content>.tab-pane {
  border-radius: .5rem;
  border: 0.5px solid #606060;
  box-sizing: border-box;
  position: relative;
  padding: .5rem;
  height: 68vw;
}

.tab-content>.tab-pane:after, .tab-content>.tab-pane:before {
	right: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.tab-content>.tab-pane:after {
	border-color: rgba(255, 255, 255, 0);
	border-right-color: #ffffff;
	border-width: 10px;
	margin-top: -10px;
}
.tab-content>.tab-pane:before {
	border-color: rgba(96, 11, 122, 0);
	border-right-color: #606060;
	border-width: 11px;
	margin-top: -11px;
}
#v-pills-salon:after, #v-pills-salon:before {
  top: 5%;
}
#v-pills-1:after, #v-pills-1:before {
  top: 2.2rem;
}
#v-pills-2:after, #v-pills-2:before {
  top: 4.4rem;
}
#v-pills-4:after, #v-pills-4:before {
  top: 6.1rem;
}
#v-pills-5:after, #v-pills-5:before {
  top: 8rem;
}
#v-pills-6:after, #v-pills-6:before {
  top: 9.6rem;
}
#v-pills-7:after, #v-pills-7:before {
  top: 11.2rem;
}
#v-pills-8:after, #v-pills-8:before {
  top: 13rem;
}
#v-pills-9:after, #v-pills-9:before {
  top: 14.8rem;
}

.tab-content>.tab-pane .btn {
  margin-bottom: .5rem;
  width: 9rem;
}
.tab-content>.active {
  display: flex;
  flex-direction: column;
}
@media (min-width: 576px) {
  .tab-content>.tab-pane .btn {
    width: 10rem;
  }
  .tab-content>.tab-pane {
    height: 320px;
  }
}
@media (min-width: 768px) {
  .nav-pills .nav-link {
    padding-left: 1rem;
  }
  .tab-content>.tab-pane {
    padding: .5rem 1rem;
  }
}
@media (min-width: 960px) {
  .tab-content>.tab-pane {
    height: auto;
  }
}

.bg-white-op {
  background: rgba(255, 255, 255, .7);
}
nav {
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 300;
}
@media (min-width: 1200px) {
  .nav-item {
    margin-left: .5rem;
    margin-right: .5rem;
  }
}

.sns-icon {
  font-size: .5rem;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}
.bg-image {
  background-image: url('../images/top-bg.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 50vh;
  max-height: 650px;
}

.height-25 {
  height: 25%;
}
.width-45 {
  width: 45%;
}
.py-3-p {
  padding-top: 2%;
  padding-bottom: 2%;
}
.py-5-p {
  padding-top: 5%;
  padding-bottom: 5%;
}
@media (min-width: 576px) {
  .width-45 {
    width: 25%;
  }
  .py-5-p {
    padding-top: 2%;
    padding-bottom: 2%;
  }
}
@media (min-width: 768px) {
  .bg-image {
    height: 480px;
  }
  .width-45 {
  }
}
@media (min-width: 960px) {
  .bg-image {
    height: 50vw;
  }
}
@media (min-width: 1200px) {
  .height-25 {
    height: 25%;
  }
}
.header-sns-icons {
  margin-top: 2.5%;
  width: 20%;
}
.header-sns-icons a {
  padding-left: 2%;
  padding-right: 2%;
}
.p-title {
  font-size: .9rem;
}

@media (min-width: 1200px) {
  .p-title {
    font-size: 1rem;
  }
}

.mt-5-p {
  padding-top: 2vw;
}

.staff-img {
  background-size: 140% auto;
  background-repeat: no-repeat;
  background-position: center 5%;
  height: 20vw;
  width: 100%;
}
/* @media (min-width: 576px) {
  .staff-img {
    height: 15vw;
  }
} */
@media (min-width: 576px) {
  .staff-img {
    height: 75px;
  }
}
@media (min-width: 1200px) {
  .staff-img {
    height: 80px;
  }
}

.staff-img a {
  margin-bottom: .1rem;
  margin-right: .25rem;
}

.staff-img img {
  width: 16px;
}

h2 {
  font-family: Cochin, Georgia, Times, 'Times New Roman', serif;
  text-align: center;
}
h2 {
  font-size: 1.5rem;
  margin: 1rem auto;
}
.h2-small {
  font-size: .5rem;
}
.h2-small img {
  width: 1.5rem;
}
@media (min-width: 768px) {
  h2 {
    font-size: 1.75rem;
  }
  .h2-small {
    font-size: .75rem;
  }
}

h3 {
  font-family: Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 1.25rem;
  border-bottom: 1px solid #aaa;
}
h3 span {
  display: inline-block;
  font-family: 'Noto Sans JP', serif;
  font-weight: lighter;
  font-size: .8rem;
  margin-top: 7px;
  margin-left: auto;
}
.text-serif {
  font-family: 'ヒラギノ明朝 ProN', serif;
  text-align: center;
}

.font-family-serif {
  font-family: 'ヒラギノ明朝 ProN', serif;
  font-size: .7rem;
}

@media (min-width: 992px) {
  h3 {
    font-size: 1.35rem;
  }
  .font-family-serif {
    font-size: 1rem;
  }
}

.b-shadow {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}
.mb-5-p {
  margin-bottom: 7.5%;
}

.font-size-small {
  font-size: 11px;
}
.font-size-xsmall {
  font-size: 10px;
}
.font-size-12 {
  font-size: 9px;
  letter-spacing: -0.3px;
}
.font-size-11 {
  font-size: 9px;
  letter-spacing: -0.4px;
}

@media (min-width: 768px) {
  .font-size-small {
    font-size: small;
  }
  
  .font-size-xsmall {
    font-size: x-small;
  }
  
  .font-size-12 {
    font-size: 11px;
    letter-spacing: -0.2px;
  }
  .font-size-11 {
    font-size: 11px;
    letter-spacing: -0.4px;
  }
}

dt, dd {
  font-size: .9rem;
}
dt {
  font-weight: normal;
  display: list-item;
  list-style: none;
}
.dt-asterisk dt:before {
  content: "＊";
  font-family: '小塚明朝 Pro', serif;
}
dt.dt-square:before {
  content: "■";
  font-family: '小塚明朝 Pro', serif;
}

dd {
  display: inline-block;
  margin-left: auto;
  margin-bottom: .2rem;
}
.price {
  text-align: right;
  width: 4rem;
}
.price-from {
  margin-left: 0;
  text-align: right;
  width: 1.2rem;
}
.ml-35 {
  margin-left: 2rem;
}
.ml-45 {
  margin-left: 2.5rem;
}
.ul-small ul {
  padding-left: 2.5rem;
}
.ul-small li {
  font-size: .8rem;
  padding-right: 1.5rem;
}

.collapse-toggle-a {
  border-top: 1px solid #808080;
  border-left: 1px solid #808080;
  display: block;
  font-size: small;
  padding: .25rem 0;
  text-align: center;
}
.collapse-toggle-a.bb {
  border-bottom: 1px solid #808080;
}
.collapse-toggle-a.br {
  border-right: 1px solid #808080;
}
.collapse-toggle-a.collapsed {
  background: #eaeaea;
}

@media (min-width: 992px) {
  #collapse-parent .collapse:not(.show) {
    display: block;
  }
}
